<label class="w-10 h-10 bg-black link">
    <input class="hidden peer" type="radio" name="taskbar_items">
    <div
        class="h-1 w-1 peer-checked:w-4 bg-neutral-500 dark:bg-neutral-400 relative top-full -translate-y-full mx-auto rounded peer-checked:dark:bg-primary-500 peer-checked:bg-primary-700 transition-all">
    </div>
    <p class="text-center text-lg peer-checked:dark:text-primary-500 peer-checked:text-primary-700 transition-all"
        style="font-family: 'Segoe Fluent Icons';">
        
    </p>
</label>